.box1, .box2, .box3, .box4{
  background-color: #2196f3;
  border-radius: 5px;
  border: 1px solid black;
}

.wrapper{
  display: flex;
  margin-bottom: 10px;
}

.wrapper2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.wrapper3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;

}
