p{
  font-family: sans-serif;
  background-color: yellow;
  padding: 20px;
  background: url(https://mdn.mozillademos.org/files/13026/fire-ball-icon.png),
   yellow linear-gradient(to bottom, yellow, #dddd00 50%, orange);


  background-repeat:no-repeat;
  background-position:  99% center;

}
